@model F1Cafe.Models.ViewModels.Teams.AllTeamsViewModel

@{
    ViewData["Title"] = "Formula 1 Teams".ToUpper();
}

<h2 class="font-weight-bold">@ViewData["Title"]</h2>
<hr />
<div class="container">
    <partial name="_AllTeamsPartial" />
</div>
