@model F1Cafe.Models.ViewModels.Teams.AllTeamsViewModel

@{
    ViewData["Title"] = "Formula 1 Teams";
}

<h1 class="font-weight-bold">@ViewData["Title"]</h1>
<hr />
<div class="container">
    <partial name="_AllTeamsPartial" />
</div>
