@model F1Cafe.Models.ViewModels.Drivers.AllDriversViewModel

@{
    ViewData["Title"] = "Formula 1 Drivers".ToUpper();
}

<h2 class="font-weight-bold">@ViewData["Title"]</h2>
<hr />
<div class="container">
    <partial name="_AllDriversPartial" />
</div>