@{
    ViewData["Title"] = "Home Page";
}

<div id="index-jumbotron" class="jumbotron">
    <video autoplay muted loop>
        <source src="~/images/index_video/2018 F1 Promo Video.mp4" type="video/mp4">
    </video>

    <div class="container">
        <h2 id="welcome">Welcome to <i>F1</i>Cafe!</h2>
        <hr />
        <p>
            Place where you can find the latest Formula 1 news and get information about teams, cars and drivers.
            <br />
            Check the rezults for every single race and see constructors and drivers standings in the world championship.
            <br />
            Get tickets for your favourite races, еxperience all the emotions live and become part of the incredible
            world of Formula 1.
        </p>
        <hr />
    </div>    
</div>
<div class="text-center">
    <a asp-action="Index" class="btn btn-primary f1cafe-bg-color">Let's start</a>
</div>